{% include 'top.html' %}

<div id="content" class="container my-4">
    <h1 class="page-title">{{page.get('title', 'Tickets')}}</h1>

    {% if pagination.has_prev or pagination.has_next %}
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
        <div class="d-flex flex-row justify-content-between">

            <!-- First Arrow -->
            <div class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for(route, page=1, **params) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </div>

            <!-- Center Pagination Row -->
            <div class="d-flex px-5" style="flex: 1;">

                <!-- Left Pages -->
                <div style="flex: 5;">
                    <ul class="pagination pagination-sm w-100">
                        {% for page_num in range(pagination.page - pagination.max_jump, pagination.page) %}
                            {% if page_num >= 1 %}
                            <li class="page-item" style="flex: 1;">
                                <a class="page-link text-center" href="{{ url_for(route, page=page_num, **params) }}">{{ page_num }}</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled" style="flex: 1;">
                                <a class="page-link text-center bg-light">·</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- Current Page -->
                <div class="px-4 justify-content-center align-self-start" style="flex: 2.4;">
                    <form action="{{ url_for('jump_to', route=route, **params) }}" method="POST">
                        <input
                            name="page"
                            placeholder="Page no.."
                            type="number"
                            min="1"
                            max="{{ pagination.pages }}"
                            step="1"
                            class="form-control text-center text-primary no-arrows"
                            value="{{ pagination.page }}"
                        />
                    </form>
                </div>

                <!-- Right Pages -->
                <div style="flex: 5;">
                    <ul class="pagination pagination-sm w-100">
                        {% for page_num in range(pagination.page + 1, pagination.page + pagination.max_jump + 1) %}
                            {% if page_num <= pagination.pages %}
                            <li class="page-item text-center" style="flex: 1;">
                                <a class="page-link" href="{{ url_for(route, page=page_num, **params) }}">{{ page_num }}</a>
                            </li>
                            {% else %}
                            <li class="page-item text-center disabled" style="flex: 1;">
                                <a class="page-link bg-light">·</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>

            <!-- Last Arrow -->
            <div class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for(route, page=pagination.pages, **params) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </div>

        </div>
    </nav>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                {% if session.isadmin == True %}
                <th>Delete</th>
                {% endif %}

{% if not pagination.has_prev and not pagination.has_next %}
                <th>TicketID</th>
                <th>FlightID</th>
                <th>PassengerID</th>
                <th>TicketNumber</th>
                <th>BookingDate</th>
                <th>SeatNumber</th>
                <th>Class</th>
                <th>Price</th>
{% else %}
                <th>
                    <a href="{{ url_for(route, togglesort='ticketid', **params) }}">
                        TicketID
                        {% if params.sort == 'ticketid' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='flightid', **params) }}">
                        FlightID
                        {% if params.sort == 'flightid' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='passengerid', **params) }}">
                        PassengerID
                        {% if params.sort == 'passengerid' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='ticketnumber', **params) }}">
                        TicketNumber
                        {% if params.sort == 'ticketnumber' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='bookingdate', **params) }}">
                        BookingDate
                        {% if params.sort == 'bookingdate' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='seatnumber', **params) }}">
                        SeatNumber
                        {% if params.sort == 'seatnumber' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='class', **params) }}">
                        Class
                        {% if params.sort == 'class' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ url_for(route, togglesort='price', **params) }}">
                        Price
                        {% if params.sort == 'price' %}
                            {% if params.direction == 'asc' %}
                                ▲
                            {% else %}
                                ▼
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
{% endif %}
                {% if session.isadmin == True %}
                <th>Update</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for item in tickets %}
            <tr class="align-items-center">
                {% if session.isadmin == True %}
                    <td>
                        <a href="{{ url_for('delete_ticket', page=pagination.page, ticketid=item.ticketid, route=route, **params) }}" class="btn btn-danger">Delete</a>
                    </td>
                {% endif %}
                    <td class="align-middle">{{item['ticketid']}}</td>
                    <td class="align-middle">{{item['flightid']}}</td>
                    <td class="align-middle">{{item['passengerid']}}</td>
                    <td class="align-middle">{{item['ticketnumber']}}</td>
                    <td class="align-middle">{{item['bookingdate']}}</td>
                    <td class="align-middle">{{item['seatnumber']}}</td>
                    <td class="align-middle">{{item['class']}}</td>
                    <td class="align-middle">{{item['price']}}</td>
                {% if session.isadmin == True %}
                    <td><a class="btn btn-primary" href="{{ url_for('edit_ticket', ticketid=item.ticketid) }}">Edit</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'end.html' %}
