{% include 'top.html' %}

<div id="content" class="container my-4">

<h1 class="page-title">Tickets search</h1>

<form name="searchform" method="POST" action="{{ url_for('search_tickets') }}">
    <div class="form-group">
        <label>Search field</label>
        <select class="form-control" id="searchfield" name="searchfield" required>
            <option value="ticketid" selected>Ticket ID</option>
            <option value="flightid">Flight ID</option>
            <option value="passengerid">Passenger ID</option>
            <option value="ticketnumber">Ticket Number</option>
            <option value="bookingdate">Booking Date</option>
            <option value="seatnumber">Seat Number</option>
            <option value="class">Class</option>
            <option value="price">Price</option>
        </select>
        <div class="invalid-feedback">Please select a search field</div>
    </div>

    <!-- Search term input field for text -->
    <div class="form-group" id="text-search-group">
        <label id="searchterm-label">Enter search term</label>
        <input class="form-control" type="text" id="searchterm" name="searchterm_text" placeholder="Search Term" required>
    </div>

    <!-- Dropdown for class options -->
    <div id="class-dropdown" class="form-group d-none">
        <label>Select class</label>
        <select class="form-control" id="class-options" name="searchterm_class">
            {% for class in classes %}
            <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Search</button>
</form>

</div>

<script>
    document.getElementById('searchfield').addEventListener('change', function() {
        const searchField = this.value;
        const searchTermInput = document.getElementById('text-search-group');
        const classDropdown = document.getElementById('class-dropdown');

        if (searchField === 'class') {
            searchTermInput.classList.add('d-none');
            searchTermInput.querySelector('input').removeAttribute('required'); // Remove 'required' for text input
            classDropdown.classList.remove('d-none');     // Show the dropdown
            classDropdown.querySelector('select').setAttribute('required', true);
        } else {
            searchTermInput.classList.remove('d-none');
            searchTermInput.querySelector('input').setAttribute('required', true); // Make text input required
            classDropdown.classList.add('d-none');          // Hide the dropdown
            classDropdown.querySelector('select').removeAttribute('required');

            if (searchField === 'bookingdate') {
                searchTermInput.querySelector('input').setAttribute('type', 'datetime-local');
            } else {
                searchTermInput.querySelector('input').setAttribute('type', 'text');
            }
        }
    });
</script>

{% include 'end.html' %}

