{% include 'top.html' %}

<div id="content" class="container my-4">

<h1 class="page-title">Tickets search</h1>

<form name="searchform" method="POST" action="{{ url_for('search_tickets') }}">
    <div class="form-group">
        <label>Search field</label>
        <select class="form-control" id="searchfield" name="searchfield" required>
            <option value="ticketid" selected>Ticket ID</option>
            <option value="flightid">Flight ID</option>
            <option value="passengerid">Passenger ID</option>
            <option value="ticketnumber">Ticket Number</option>
            <option value="bookingdate">Booking Date</option>
            <option value="seatnumber">Seat Number</option>
            <option value="class">Class</option>
            <option value="price">Price</option>
        </select>
        <div class="invalid-feedback">Please select a search field</div>
    </div>

    <div class="form-group">
        <label>
            Enter search term<br/>
            <span class="small text-secondary">Enter datetime in format (24-hour time)<br/>YYYY-MM-DD HH:MM:SS</span>
        </label>
        <input class="form-control" type="text" name="searchterm" placeholder="Search Term" required>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

</div>

{% include 'end.html' %}

