{% include 'top.html' %}

<div id="content" class="container my-4">

<h1 class="page-title">User search</h1>

<form name="searchform" class="" method="POST" action="{{ url_for('search_users') }}">
    <div class="form-group">
        <label>Search field</label>
        <select class="form-control" id="searchfield" name="searchfield" required>
            <option value="userid" selected>User ID</option>
            <option value="firstname">First Name</option>
            <option value="lastname">Last Name</option>
            <option value="userroleid">User Role ID</option>
        </select>
        <div class="invalid-feedback">Please select a search field</div>
    </div>

    <div class="form-group">
        <label>Enter search term</label>
        <input class="form-control" type="text" name="searchterm" placeholder="Search Term" required>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

</div>

{% include 'end.html' %}
